@import './vars';

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.title-404 {
    font-size: 40rem;
}

.primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--black);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
  }